body {
  width: 100v;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/c1/4b/76/c14b762c9343edcd3003ce3813e0700a.gif);
  background-size: cover;
overflow-y: hidden;
  padding: 0px;
  margin: 50px;

  display: flex;
  flex-direction: column;
}

.h2Auth {
  color: rgb(100, 100, 121);
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
}

.buttonAuth {
  background-color: rgba(100, 100, 121, 0);
  color: rgb(177, 29, 29);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.buttonAuth:hover {
  opacity: 1;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-size: 25px;
  margin-left: 5px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 8px;
}

#input::placeholder {
  opacity: 0.5;
}

.container {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: rgba(100, 100, 121, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}

.cont {
  color: rgb(177, 29, 29);
}

.all {
  color: rgb(255, 226, 226);
  display: flex;
  align-items: center;
}
.dop {
  color: rgb(255, 226, 226);
}


.img {
  width: 400px;
}

